.card {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 2rem;

  .card__employeeName {
    font-weight: bold;
  }

  .card__employeeContactDetails {
    padding: 0.5rem;
  }

  .card__employeeContractDetails {
    padding: 0.5rem;
  }

  .card__DeleteEmployeeButton {
    background-color: red;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    border-color: black;
  }
  .card__EditEmployeeButton {
    background-color: rgb(97, 216, 0);
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    border-color: black;
  }
}
