.card {
  padding: 1rem;

  .card__employeeName {
    font-weight: bold;
  }

  .card__employeeContactDetails {
    color: red;
  }

  .card__employeeContractDetails {
    padding: 0.5rem;
  }

  .card__DeleteEmployeeButton {
    background-color: red;
  }
}
